#wrapper {
    width: 300px;
    height: 300px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.wrapDigitalWatch {
    width: 120px;
    height: 30px;
    position: absolute;
}